<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Example</title>
</head>
<body>
  <h1>Hello World!</h1>
  <p>What's up everyone ?</p>
  <ul>
    <li>name : <%= data.name %></li>
    <li>age : <%= data.age %></li>
    <li>location : <%= data.location %></li>
  </ul>
</body>
</html>
